:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'Fira Sans', sans-serif;
	--font-accent: 'Fira Sans', sans-serif;

	--page-bg: #000;
	--text-color: #fff;
	--white-color: #FAFAFA;
	--accent: #6C38CC;
	--gray: #AFB2BF;
	--dark-gray: #616270;
	--main: #1E1F29;
	--secondary: #2E2D3D;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

	// @-webkit-keyframes autofill {
	// 	to {
	// 		color: inherit;
	// 		background: transparent;
	// 	}
	// }
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}